.searchPage {
    flex: 0.8;
    background-color: #f9f9f9;
    padding: 20px 30px;
}

.dark-searchPage {
    background-color: #181818;
}

.searchPage__filter {
    display: flex;
    align-items: center;
    color: grey !important;
    font-size: x-small !important;
}

.searchPage__filter>h2 {
    margin-left: 10px;
    font-size: 1.5em;
    color: rgba(68, 68, 68, 0.781);
    text-transform: uppercase;
    letter-spacing: 0.08em;
}

.dark-searchPage .searchPage__filter>h2 {
    color: #fff;
}

.searchPage>hr {
    height: 0.4px;
    border: none;
    background-color: lightgrey;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dark-searchPage>hr {
    background-color: #88888866;
    height: 0.4px;
}

.searchPage>h3 {
    margin: 20px 6px;
    font-weight: 600;
}

.dark-searchPage>h3 {
    color: #fff;
}

.searchPage__channelRow,
.searchPage__videoRow {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

@media screen and (max-width: 500px) {
    .searchPage {
        /* width: 484px; */
        flex: 1;
    }
}