.videoCard {
    margin: 10px auto;
    margin-bottom: 40px;
    width: 319px;
    position: relative;
    /* transition: all 1s ease-in; */
}

.videoCard__hover {
    /* z-index: -1; */
}

.videoCard__thumbnail {
    width: 100%;
    height: 179px;
    position: relative;
    z-index: 10;
    transition: all 0.1s ease-in-out;
    /* transform: scale(1.13, 1.07); */
}

.videoCard__link:hover>.videoCard__thumbnail {
    transform: scale(1.13, 1.07);
    box-shadow: -1px -1px -1px rgb(90, 90, 90);
    z-index: 99999;
}

.dark-videoCard .videoCard__link:hover>.videoCard__thumbnail {
    transform: scale(1.13, 1.07);
    box-shadow: -1px -1px -1px #000;
    z-index: 99999;
    /* overflow: overlay; */
    /* position: absolute; */
    /* timing-function delay iteration-count direction fill-mode */
}

.videoCard__hover:hover+.videoCard__info:not(.videoCard__text, h4, p) {
    transform: scale(1.13, 1.07);
    background-color: #fff;
    box-shadow: 0.5px 0.5px 3.5px rgb(90, 90, 90);
    margin-top: 0;
    padding: 16px 5px;
    /* overflow: overlay; */
    flex-direction: column;
    position: absolute;
    z-index: 99999;
    /* timing-function delay iteration-count direction fill-mode */
}

.dark-videoCard .videoCard__hover:hover+.videoCard__info:not(.videoCard__text, h4, p) {
    transform: scale(1.13, 1.07);
    background-color: #202020;
    box-shadow: 1px 1px 1.5px #000;
    margin-top: 0;
    padding: 16px 5px;
    /* overflow: overlay; */
    flex-direction: column;
    position: absolute;
    z-index: 99999;
    /* timing-function delay iteration-count direction fill-mode */
}

.videoCard__hover:hover+.videoCard__info .hover__button {
    display: block !important;
    opacity: 1;
    /* transition: all 0.2s ease-in-out 1s; */
}

.hover__button {
    display: none;
    /* transition: all 0.2s ease-in-out 1s; */
    opacity: 0;
}

.videoCard__info {
    display: flex;
    margin-top: 10px;
    padding-right: 30px;
    width: 100%;
    transition: display 0.1s ease-in-out;
}

.videoCard__text {
    margin-left: 25px;
}

.videoCard__text>h4 {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 1rem;
    line-height: 1.3rem;
    font-weight: 500;
    max-height: 4rem;
    overflow: hidden;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    white-space: normal;
    margin-bottom: 5px;
    color: rgb(70, 69, 69) !important;
}

.dark-videoCard .videoCard__text>h4 {
    color: #fff !important;
}

.videoCard__text>p {
    font-size: 14px;
    color: grey;
}

.videoCard__link {
    color: #000;
    text-decoration: none;
}

.videoCard__avatar {
    width: 30px !important;
    height: 30px !important;
}

@media screen and (max-width: 600px) {
    .videoCard {
        width: 280px;
        margin: 10px auto;
    }
    .videoCard__thumbnail {
        height: 166px;
    }
}

@keyframes zoom-play {
    0% {
        transform: scale(0.1);
    }
    100% {
        transform: scale(2, 4);
    }
}