.videoRow {
    display: flex;
    margin-bottom: 30px;
}

.videoRow__thumbnail {
    width: 360px;
    height: 202px;
    display: flex;
}

.videoRow__thumbnail>.videoRow__link>img {
    width: 100%;
    height: 100%;
    flex: 1;
}

.videoRow__link {
    color: #000;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1;
}

.videoRow__text {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.videoRow__text h3 {
    font-weight: 400;
}

.videoRow__avatar {
    width: 20px !important;
    height: 20px !important;
    margin-right: 12px;
}

.videoRow__channel {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 4px;
}

.videoRow__text p {
    font-size: 12px;
    color: #606060;
    padding-top: 4px;
}

.videoRow__views {
    color: rgb(85, 157, 211);
    font-weight: bolder;
}

.videoRow__description {
    margin-top: 5px;
    font-size: 12px;
    color: #606060;
}

@media screen and (max-width: 600px) {
    /* .videoRow {
        width: 436px !important;
        height: 183px !important;
    } */
    .videoRow__thumbnail {
        width: 200px !important;
        height: 130px !important;
    }
    .videoRow__text {
        width: min-content;
        flex: 1;
    }
    .videoRow__text h3 {
        font-weight: 400;
        font-size: 1em;
    }
}

@media screen and (min-width: 600px) {
    .videoRow__avatar {
        width: 30px !important;
        height: 30px !important;
    }
    .videoRow__text {
        margin-left: 30px;
    }
}